@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/User/**/*';
@source '../../../../resources/views/filament/user/**/*';

@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/**/*.blade.php';

