@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Dosen/**/*';
@source '../../../../resources/views/filament/dosen/**/*';
@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
